body{
font-family: "Plus Jakarta Sans", sans-serif !important;
display: flex;
flex-direction: column;
min-height: 100vh;

}


.container{
    flex:1;
}
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}

/* footer */

.f-into-links a {
    text-decoration: none;
    color: #222222;
}
.f-into-links a:hover{
    text-decoration: underline;
}

.f-into-links, .f-into-socials,.f-into-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.f-into-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-into{
    text-align: center;
    height: 8rem;
    background-color:rgb(248, 248, 248) ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}
 /* .f-into {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8rem;
    background-color: rgb(248, 248, 248);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 100;
} */

/* cards */

.card {
    border: noen !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius:0.8rem !important;
    width: 100% !important;
    object-fit: cover !important;

}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400 !important;
}

.listing-links{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.add-btn{
    background-color: #fe424d ;
    border: none !important;
}

.edit-btn{
    background-color: #fe424d  !important;
    border: none !important;
}

.show-img{
    height: 30vh;
}

.btns{
    display: flex ;
}
.show-card{
    margin-left: 0%;
    margin-right: 0%;
    border: none !important;
    box-shadow: none !important;
}

.edit-img {
    max-width: 100%;
    height: 30vh;
    object-fit: cover;
    display: block;
    margin: 0 ;
}